---
import Layout from '../layouts/BaseLayout.astro';
import NewsletterForm from '../components/NewsletterForm.astro';
---

<Layout title="About — the low-speed spoon" theme="theme-about">

  <section class="mx-auto max-w-3xl px-4 py-16 prose">
    <h1 class="text-xl font-medium mb-6">about</h1>

  
    <div class="flex flex-col md:flex-row items-start gap-">
      <!-- Text block -->
      <div class="flex-1">
        <p>hi! i'm abby, i'm an artist, scientist, and enjoyer of colloquialisms.</p>
        <br>
        <p>the low-speed spoon is space i created to as a place to house my portfolio of art, design, and data-vis projects. if you've found yourself here, i hope you enjoy poking around!</p>
        <br>
        <p class="font-semibold mt-6">what is a low-speed spoon?</p>

        <br>
        <p><span style="color:#D1890C;" class="italic">/loʊ&nbsp;spiːd&nbsp;spuːn/</span> noun</p>
         <br>
         <p>literally, a vernacular phrase referring to the smaller of two spoons included in a table setting, i.e., teaspoon. see high-speed spoon as an analog for 'dinner spoon'.</p>
      
      </div>

      <!-- Image block -->
      <div class="flex-shrink-0" ml-0>
        <img
          src={`${import.meta.env.BASE_URL}assets/headshot.png`}
          alt="Abby headshot"
          class="mx-20 block opacity-90 rounded-lg"
          style="width:200px;max-width:none;"
        />
      </div>
    </div>

    

 

  </section>
  <Fragment slot="newsletter">
  <div class="not-prose my-0">
      <img
        src={`${import.meta.env.BASE_URL}assets/separators/spoon.png`}
        alt=""
        role="presentation"
        class="mx-auto block opacity-90"
        style="width:200px;max-width:none;"
      />
    </div>
    <NewsletterForm />   
  </Fragment>
</Layout>

