---
import Layout from '../layouts/BaseLayout.astro';
import NewsletterForm from '../components/NewsletterForm.astro';
---

<Layout title="About — the low-speed spoon" theme="theme-about">

  <section class="mx-auto max-w-3xl px-4 py-16 prose">
    <h1 class="text-xl font-medium mb-6">about</h1>

  
    <div class="flex flex-col md:flex-row items-start gap-">
      <!-- Text block -->
      <div class="flex-1">
        <p>hi! i'm abby, i'm an artist, scientist, and enjoyer of colloquialisms.</p>
        <br>
        <p>the low-speed spoon is space i created as a place to house my portfolio of art, design, and data-vis projects. mostly this space is just for me. it turns out they let just anyone make a website. but, if you've found yourself here, i hope you enjoy poking around!</p>
        <br>
        <p class="font-semibold mt-6">what is a low-speed spoon?</p>

        <br>
        <p>the low-speed spoon is the little one. the high-speed spoon is the big one. obviously. </p>
        <br>
        <p>unbeknownst to me until a much later age than one might hope, this is one among many entries you may only find in my <span style="color: #C49600"> <a href="https://lowspeedspoon.com/library/dictionary/"> family dictionary</a></span>. see also: the magic box.  </p>
        <br>
        <p>so, yes, i am the proud owner a domain name that was, unsurprisingly, available. why? well. in short, it makes me happy. 


      </div>

      <!-- Image block -->
      <div class="flex-shrink-0" ml-0>
        <img
          src={`${import.meta.env.BASE_URL}assets/headshot.png`}
          alt="Abby headshot"
          class="mx-20 block opacity-90 rounded-lg"
          style="width:200px;max-width:none;"
        />
      </div>

    </div>

    

 

  </section>
  <Fragment slot="newsletter">
  <div class="not-prose my-0">
      <img
        src={`${import.meta.env.BASE_URL}assets/separators/spoon.png`}
        alt=""
        role="presentation"
        class="mx-auto block opacity-90"
        style="width:200px;max-width:none;"
      />
    </div>
    <NewsletterForm />   
  </Fragment>
</Layout>

