---
import Layout from '../layouts/BaseLayout.astro';
import NewsletterForm from '../components/NewsletterForm.astro';
---
<Layout title="Contact — the low-speed spoon" theme="theme-contact">
  <section class="mx-auto max-w-3xl px-4 py-16 prose">
      <h1 class="text-xl font-medium mb-6">contact</h1>
    <br>

    <p>drop a line to me via email and see what else i've been up to on my academic website and instagram.</p>
    <br>
    <ul>
      <li>email: <a href="mailto:amcclain@gwu.edu">amcclain@gwu.edu</a></li>
      <li>website: <a href="https://armcclain.github.io"> academic updates </a></li>
      <li>instagram: <a href="https://instagram.com/the_primate_diaries">@the_primate_diaries</a></li>
    </ul>

 
  </section>
  <Fragment slot="newsletter">
  <div class="not-prose my-12">
      <img
        src={`${import.meta.env.BASE_URL}assets/separators/spoon.png`}
        alt=""
        role="presentation"
        class="mx-auto block opacity-90"
        style="width:200px;max-width:none;"
      />
    </div>
    <NewsletterForm />   
  </Fragment>
</Layout>


