---
// Not used (we inlined nav in BaseLayout), but left here if you want to swap later.
---
<nav class="text-sm">
  <ul class="flex gap-6">
    <li><a class="hover:underline" href="/portfolio/">portfolio</a></li>
    <li><a class="hover:underline" href="/blog/">blog</a></li>
    <li><a class="hover:underline" href="/about">about</a></li>
    <li><a class="hover:underline" href="/contact">contact</a></li>
  </ul>
</nav>
